.container{
  @apply h-[60vh] lg:h-full flex flex-col lg:flex-row items-center justify-center xl:justify-around px-0 lg:px-[8.25rem];
}

.photo{
  @apply w-full lg:w-[40%] flex items-center justify-center;
}

.info{
  @apply w-full lg:w-[55%]
}

.name{
  @apply text-center lg:text-left text-black font-bold text-[2rem] xl:text-[3.1rem] leading-[120%] xl:leading-[3.75rem];
}

.title{
  @apply text-center lg:text-left text-black font-light text-[1rem] xl:text-[2rem] leading-[120%] xl:leading-[2.375rem];
}

.hobby, .expertise{
  @apply hidden lg:block text-black font-light text-[0.75rem] xl:text-[1.25rem] leading-[1.875rem] flex;
}

.hobby h3, .expertise h3{
@apply font-medium mr-1
}

/* Utility Styles */
.br{
  @apply block lg:hidden
}